h3{
  height: 40px;
  text-overflow: ellipsis;
  white-space: nowrap;
 overflow: hidden;
}


.btninfo{
  position: absolute;
  background-color: rgb(74, 59, 209);
  right:20px;
  border-radius: 20%;
  color: white;
}

.Editbtncss{
background-color: rgb(61, 76, 161);
color: #fff;
}

.deletbtn{
  background-color: rgb(211, 52, 52);
  color: #fff;
}


